<footer class="container footer">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__col grid__col--2-of-2">
                <p class="follow-us">Rejoignez nous sur <a href="https://www.facebook.com/jeux.budaya" target="_blank"><span class="icon-facebook"></span></a></p>
                <img src="images/logo.png" alt="logo budaya" class="logo-footer" />
                <p class="more-info">
                    Budaya est une marque créée par les étudiants de l'IESA Multimédia. - Mentions Légales - CGU - Press
                </p>
            </div>
        </div>
    </div>

    <img src="images/background-right.png" class="picto-background" />
</footer>
