<header class="header">
    <div class="wrapper">
        <div class="grid">
            <div class="grid__col grid__col--4-of-12">
                <span class="logo">Budaya</span>
            </div>

            <div class="grid__col grid__col--8-of-12">
                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/histokid">Histokid</a></li>
                        <li><a href="/equipe">Notre équipe</a></li>
                        <li><a href="/press">Presse</a></li>
                        <li><a href="mailto:team4iesa@gmail.com">Contact</a></li>
                        <li><a href="https://www.facebook.com/jeux.budaya" target="_blank"><span class="icon-facebook"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
