.header {
    color : $color-brand;
    padding: 40px 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

    nav {
        float: right;

        li {
            display: inline-block;
            list-style-type: none;
            text-transform: uppercase;
            padding: 0 20px;

            a, a:hover {
                color : $color-brand;
                text-decoration: none;
            }
        }

        .icon-facebook {
            font-size: 26px;
            position: relative;
            line-height: 0;
            top: 7px;
        }
    }
}
