<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.html %>
    </head>

    <body>

        <% include ../partials/navigation.html %>

        <div class="container product">
            <div class="wrapper">
                <div class="grid">
                    <div class="grid__col grid__col--2-of-2">
                        <img src="images/logo_histokid.png" alt="Histokid" class="hisokid-logo" />
                        <h2>Comment ça marche ?</h2>

                        <div class="grid product">
                            <div class="grid__col grid__col--6-of-12 packaging">
                                <img src="images/histokid/package.png" alt="Boite de jeux Histokid" />
                            </div>

                            <div class="grid__col grid__col--6-of-12 product-desc">
                                <p>
                                    Histokid est composé d'un plateau de jeu connecté, de figurines, d'un vidéo projecteur (optionnel) et d'une application mobile.<br>
                                    Le plateau interagit avec les figurines grâce à la reconnaissance visuelle et transmet des informations à l'application (via la technologie Bluetooth). L'application renvoie à son tour, des informations sonores (et visuelles) au tapis, en fonction des interactions.
                                </p>
                                <p>Le vidéo projecteur peut afficher sur le tapis, des univers visuels mouvant selon les interactions des figurines et du tapis.</p>

                                <p class="list-title">La pack démarage comprend :</p>
                                <ul>
                                    <li>un plateau de jeu connecté</li>
                                    <li>4 figurines dinos</li>
                                    <li>1 vidéo-projecteur en carton</li>
                                </ul>

                                <p class="price">Prix : 49,90€</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- UNIVERS -->
        <div class="container univers">
            <div class="wrapper">
                <h2>Les autres univers</h2>
                <img src="images/histokid/histo-dino.png" alt="Histokid, l'univer des dinosaures" />
                <img src="images/histokid/histo-hommes.png" alt="Histokid, l'univer des premiers hommes" />
                <img src="images/histokid/histo-chevalier.png" alt="Histokid, l'univer du moyen age" />
                <img src="images/histokid/histo-bateau.png" alt="Histokid, l'univer des pirates" />
            </div>
        </div>

        <% include ../partials/footer.html %>

    </body>
</html>
