<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.html %>
    </head>

    <body>

        <% include ../partials/navigation.html %>

        <!-- UNIVERS -->
        <div class="container team-page-prez">
            <img src="images/background-left.png" class="background-left" />
            <img src="images/background-right.png" class="background-right" />

            <div class="wrapper">
                <div class="grid">
                    <div class="grid__col grid__col--1-of-2 team-page-prez-logo">
                        <img src="../images/team/logo-main.png" alt="logo budaya" />
                    </div>
                    <div class="grid__col grid__col--1-of-2 team-page-prez-text">
                        <p>Le monde est un vaste terrain de jeu, paraît-il. En tout cas, nous en sommes convaincu !</p>
                        <p>On s'est retrouvé un peu par hasard, autour d'une idée : celle de capitaliser sur les nouvelles technologies pour offrir à vos enfants des espaces de jeux immersifs, interactifs et ludiques.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- PHILOSOPHIE  -->
        <div class="container our-philosophy">

            <div class="wrapper">
                <h2>Notre Philosophie</h2>

                <div class="grid">
                    <div class="grid__col grid__col--1-of-4">
                        <span class="section-number">1</span>
                        <p>Immerger les enfants et les parents dans des périodes de l'Histoire</p>
                    </div>
                    <div class="grid__col grid__col--1-of-4">
                        <span class="section-number">2</span>
                        <p>Recréer du lien entre les parents et les enfants</p>
                    </div>
                    <div class="grid__col grid__col--1-of-4">
                        <span class="section-number">3</span>
                        <p>Apprendre en s'amusant grâce à un univers immersif et développer la créativité en créant des histoires</p>
                    </div>
                    <div class="grid__col grid__col--1-of-4">
                        <span class="section-number">4</span>
                        <p>Rendre l'enfant actif face à l'apprentissage</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- TEAM -->
        <div class="container team-page-team">

            <div class="wrapper">
                <h2>L'équipe budaya</h2>
                <div class="carroussel-team">
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-2 team-page-team-text">
                            <ul>
                                <li><span class="question">Un jeu ?</span>Adibou</li>
                                <li><span class="question">Un rêve d'enfant ?</span>S'occuper des enfants</li>
                                <li><span class="question">Le héros de ton enfance ?</span> Mulan</li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col--1-of-2 team-page-team-photo">
                            <img src="images/img-equipe/amelia.png" alt="Photo d'amelia enfant" />
                            <p>Je fais des coloriages (mais je dépasse pas !)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-2 team-page-team-text">
                            <ul>
                                <li><span class="question">Un jeu ?</span>Les Playmobil</li>
                                <li><span class="question">Un rêve d'enfant ?</span>Devenir chanteuse</li>
                                <li><span class="question">Le héros de ton enfance ?</span>La Petite Sirène</li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col--1-of-2 team-page-team-photo">
                            <img src="images/img-equipe/camille.png" alt="Photo de camille enfant" />
                            <p>Je parle tout le temps (mais j'écoute aussi !)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-2 team-page-team-text">
                            <ul>
                                <li><span class="question">Un jeu ?</span>La Barbie, pilote d'avion</li>
                                <li><span class="question">Un rêve d'enfant ?</span>Faire des bouquets de fleurs</li>
                                <li><span class="question">Le héros de ton enfance ?</span>Sacha des Pokémon</li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col--1-of-2 team-page-team-photo">
                            <img src="images/img-equipe/charlene.png" alt="Photo de charlene enfant" />
                            <p>Je joue à la chef (mais une gentille chef, hein)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-2 team-page-team-text">
                            <ul>
                                <li><span class="question">Un jeu ?</span>Les Lego</li>
                                <li><span class="question">Un rêve d'enfant ?</span>Devenir un super-héro</li>
                                <li><span class="question">Le héros de ton enfance ?</span>Batman</li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col--1-of-2 team-page-team-photo">
                            <img src="images/img-equipe/eric.png" alt="Photo de eric enfant" />
                            <p>Je parle une autre langue (mais personne comprend)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-2 team-page-team-text">
                            <ul>
                                <li><span class="question">Un jeu ?</span>Ma Poupée</li>
                                <li><span class="question">Un rêve d'enfant ?</span>Soigner les animaux</li>
                                <li><span class="question">Le héros de ton enfance ?</span>Pocahontas</li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col--1-of-2 team-page-team-photo">
                            <img src="images/img-equipe/jessica.png" alt="Photo de jessica enfant" />
                            <p>Je parle tout le temps (mais j'écoute aussi !)</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="grid__col grid__col--1-of-2 team-page-team-text">
                            <ul>
                                <li><span class="question">Un jeu ?</span>Mario Bros</li>
                                <li><span class="question">Un rêve d'enfant ?</span>Explorer le monde</li>
                                <li><span class="question">Le héros de ton enfance ?</span>Le Roi Lion</li>
                            </ul>
                        </div>
                        <div class="grid__col grid__col--1-of-2 team-page-team-photo">
                            <img src="images/img-equipe/nafi.png" alt="Photo de nafi enfant" />
                            <p>Je joue aux Kapla (mais ça tombe jamais !)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer.html %>

    </body>
</html>
