// COULEURS
$color-brand: #4a77dc;

$color-bg-light: #dee2e3;
$color-font-base: #617484;
$color-positive: #64c68d;

// FONTS
$fonts-face-base: 'bariolregular';
$fonts-face-brand: 'helv_childrenregular';

$font-size-title: 44px;
$font-size-base: 16px;
$font-size-large: 24px;
$font-line-base: 21px;

// SPACING
$spacing-large: 55px;
$spacing-medium: 25px;

// UTILS
$border-radius: 30px;
$transition: all 0.2s ease-in;
